<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
  <form action="Member/save" method="post">
    Id : <input type="text" name="memberId"><br>
    Pw: <input type="password" name="memberPw"><br>
    PwCheck: <input type="password" name="member_pwcheck"><br>
    Email: <input type="email" name="memberEmail"><br>
    Name: <input type="text" name="memberName"><br>
    Phone :  <input type="tel" name="memberPhone"><br>
    adrss:  <input type="text" name="memberAdrss"><br>
    adrss2: <input type="text" name="memberAdrss2"><br>

    <input type="submit" value="회원 가입">









  </form>

</body>
</html>